#app {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template:
    "a a a" 5em
    "b e f" 3fr
    "c e f" 3fr
    "d d d" 1fr;
}

.plan-header {
  grid-area: a;
}

.c1 {
  grid-area: b;
}

.c2 {
  grid-area: c;
}

.c3 {
  grid-area: e;
  display: flex;
  flex-direction: column;
}

.actions-panel {
  flex-grow: 1;
}

.c4 {
  grid-area: f;
}

.footer {
  grid-area: d;
}
