#app {
  height: 100vh;
  width: 100vw;
  display: grid;
  gap: 3%;
  grid-template:
    "a a a" 5em
    "b e f" 3fr
    "c e f" 3fr
    "d d d" 1fr;
}

.plan-header {
  grid-area: a;
}

.c1 {
  grid-area: b;
  margin-left: 3em;
}

.c2 {
  grid-area: c;
  margin-left: 3em;
}

.c3 {
  grid-area: e;
}

.panel {
  height: 87.5%;
  min-width: 33rem;
  overflow: scroll;
}

.c4 {
  grid-area: f;
  margin-right: 3em;
}

.footer {
  grid-area: d;
}

.left {
  margin-left: 8em;
}

.right {
  margin-right: 8em;
}
